<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/profilePhoto.jpg" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Ibañez Ignacio Francisco</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam quasi repudiandae assumenda autem unde? Animi doloribus, saepe ipsam ad natus sed consequuntur velit, culpa iste qui commodi exercitationem officiis excepturi?</p>
        </span>
    </div>
</div>

