<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Instituto 1</h1><h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat modi fugiat numquam aliquam accusamus recusandae voluptatem facilis vel sit, distinctio veritatis odio eum expedita hic, dicta doloribus earum nulla asperiores.</p>
            <li>
                <h1>Instituto 2</h1><h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat modi fugiat numquam aliquam accusamus recusandae voluptatem facilis vel sit, distinctio veritatis odio eum expedita hic, dicta doloribus earum nulla asperiores.</p>
            <li>
                <h1>Instituto 2</h1><h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat modi fugiat numquam aliquam accusamus recusandae voluptatem facilis vel sit, distinctio veritatis odio eum expedita hic, dicta doloribus earum nulla asperiores.</p>
        </ul>
    </div>
</div>
